@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Microcouriers</h1>
    <p>Learn about my project here <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
