
@{
    ViewData["Title"] = "Tracking";
}

<script src="http://code.jquery.com/jquery-3.3.1.min.js"
        crossorigin="anonymous"></script>
<body>

    <h3>Tracking</h3>

    <div class="Formcontainer">
        <div action="/action_page.php">
            <label for="fname">Booking Ref</label>
            <input class="col-md-4 col-lg-4" type="text" id="txtBR" name="origin">
            <br />
            <input type="button" onclick="getTrackingDetails();" class="btn" value="Find" />
            <div id="bookingDetails"></div>
            <br />


            <h5 style="color:Red" id="msgtxt"></h5>
        </div>
    </div>

</body>


<script>



    function getTrackingDetails() {
        debugger
        var trackingid = $("#txtBR").val();

        $.ajax({
            type: "Get",
            url: "/api/tracking/" + trackingid,
            contentType: "application/json",           
            dataType: "json",
            success: TrackingDetails,
            error: TrackingDetailsError
        });

    }



    function TrackingDetailsError(request, status, error) {
        $("#bookingDetails").html(request.responseText);
    }


    function TrackingDetails(results) {
        debugger
        var trackingHistory = results.trackingHistory;
        var arr = $.parseJSON(trackingHistory);
        var resultString = "";
        var Sep = "<br>-------------------------------------------";
        $.each(arr, function (index, value) {
            debugger
            
            if (this.OrderState.indexOf("Created")>-1) {
                resultString += "<br>Booking Created - " + this.DateTime + "<br>" + "Origion - " + this.Origion + " Dest -" + this.Destination + "<br> Description :" + this.Description;
            }

            if (this.OrderState.indexOf("Payment") > -1) {
                resultString += Sep;
                resultString += "<br>Payment - " + this.DateTime + "<br>";
            }

            if (this.OrderState.indexOf("OrderPicked") > -1) {
                resultString += Sep;
                resultString += "<br>Order Picked - " + this.DateTime +  "<br> Description :" + this.Description;
            }

            if (this.OrderState.indexOf("OrderInTransit") > -1) {
                resultString += Sep;
                resultString += "<br>Order In Transit - " + this.DateTime + "<br> Description :" + this.Description;
            }


            if (this.OrderState.indexOf("Delivered") > -1) {
                resultString += Sep;
                resultString += "<br>Order Delivered - " + this.DateTime + "<br> Signed By: " + this.SignedBy + "<br> Description :" +  "" + this.Description;
            }
           // alert(index + ": " + value);
        });

        $("#bookingDetails").html(resultString);
    }

</script>
